@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BasicWebApp!</h1>
    <p>We're glad to have you here. Explore our app and learn more about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>If you have any questions, feel free to <a href="mailto:support@example.com">contact us</a>.</p>
</div>

